@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  font-family: 'Pangolin', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-image: paint(bubbles);
  background: #FCF5EF;
}